# DATABASE
DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>?schema=public"

# AUTH
JWT_ACCESS_SECRET="<MIN_32_CHARS_RANDOM_SECRET>"
JWT_REFRESH_SECRET="<MIN_32_CHARS_RANDOM_SECRET>"
JWT_REFRESH_TOKEN_PEPPER="<MIN_16_CHARS_RANDOM_PEPPER>"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="30d"

# CORS
CORS_ORIGINS="http://localhost:3000"
PORT=3001

# RATE LIMIT (required in production)
REDIS_URL="redis://localhost:6379"

# DOCUMENT STORAGE (required in production)
AWS_REGION="<AWS_REGION>"
AWS_ACCESS_KEY_ID="<AWS_ACCESS_KEY_ID>"
AWS_SECRET_ACCESS_KEY="<AWS_SECRET_ACCESS_KEY>"
AWS_S3_BUCKET_NAME="<AWS_S3_BUCKET_NAME>"

# Bootstrap scripts
BOOTSTRAP_SUPERADMIN_EMAIL="<SUPERADMIN_EMAIL>"
BOOTSTRAP_SUPERADMIN_PASSWORD="<STRONG_SUPERADMIN_PASSWORD>"

# WEB
NEXT_PUBLIC_API_URL="http://localhost:3001/v1"
